.mother {
    position: relative;
  
   
 

}
button{

   padding: 5px;
   background-color: forestgreen;
    color: white;
border-radius: 10px;
}
.mother>* {
    background: #81b7d2;
    position: absolute;
    list-style: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(180deg);
    bottom: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: .5rem;
    color: antiquewhite;

}
li>span {
    font-weight: 600;
    vertical-align: top;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    margin-right: 3px;
}
#status {
    bottom: 255px;
    right: 43px;
    height: 54px;
    white-space: normal;
}
.panel {
    position: fixed;
    color: #fff;
    width: 0;
    overflow: hidden;
    background: #777;
    white-space: nowrap;
}
#codetrace {
    bottom: 60px;
    right: 43px;
    height: 192px;
    font-family: courier new,Courier,monospace;
    background-color: #81b7d2;
}
#right-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    background: #000;
    z-index: -2;
}
#codetrace-hide {
    bottom: 60px;
    right: 0;
    padding: 88px 14px 88px 15px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}